{% extends "masterEstoque.html" %}

{% block content %}
    <h4>Cadastro de Produtos</h4>

    <form action="{% url 'criar_produto' %}" method="post">
        {% csrf_token %}
        <div class="row">
            <div class="col-md-3">
                <label for="nome">Nome</label>
                <input type="text" name="nome" class="form-control">
            </div>   
            <div class="col-md-3">
                <label for="min_estoque">Estoque (Min)</label>
                <input type="text" name="min_estoque" class="form-control">
            </div>         
            <div class="col-md-3">
                <label for="max_estoque">Estoque (Max)</label>
                <input type="text" name="max_estoque" class="form-control">
            </div>
            <div class="col-md-2">
                <label for="preco">Preço</label>
                <input type="number" name="preco">
            </div>
        </div>
        <div class="row">            
            <div class="col-md-3">
                <label for="descricao">Descricao</label>
                <input type="text" name="descricao">
            </div>
        </div>
        <div class="d-flex justify-content-end">
            <button class="btn btn-success">Cadastrar</button>
        </div>
    </form>
{% endblock  %}