<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Tito's Stock</title> 
    {% load bootstrap5 %}
    {% bootstrap_css %}
    {% bootstrap_javascript %}
</head>
<body>
    <h1>Tito's Stock</h1>
    <p>Sistema de Gerenciamento de Estoque</p>

    <h4>Estoque</h4>

    <a href="{% url 'index_estoque' %}">Listar</a>
    <a href="{% url 'cadastro_estoque' %}">Cadastrar</a>

    {% block content %}
    {% endblock %}
</body>
</html>