{% extends "master.html" %}

{% block content %}
    <h4>Lista de Clientes</h4>

    <table class="table table-bordered table-hover">
        <thead>
            <tr>
                <th>Nome Completo</th>
                <th>E-mail</th>
                <th>Situação</th>
                <th>Data de Cadastro</th>
                <th>Data de Atualização</th>
                <th>Gerenciar</th>
            </tr>
        </thead>
        <tbody>
            {% if lista %}
                {% for cliente in lista %}
                    <tr>
                        <td>{{ cliente.primeiro_nome }} {{ cliente.sobrenome }}</td>
                        <td>{{ cliente.email }}</td>
                        <td>{{ cliente.status }}</td>
                        <td>{{ cliente.created_at }}</td>
                        <td>{{ cliente.updated_at }}</td>
                        <td>
                            <a 
                                href="{% url 'editar_cliente' cliente.id %}"
                                class="btn btn-primary btn-sm"
                            >
                                Editar
                            </a>
                            <a 
                                href="{% url 'deletar_cliente' cliente.id %}"
                                class="btn btn-danger btn-sm"
                            >
                                Excluir
                            </a>
                        </td>
                    </tr>
                {% endfor %}
            {% else %}
                <tr>
                    <td class="text-center" colspan="6">
                        Nenhum cliente cadastrado
                    </td>
                </tr>
            {% endif %}
        </tbody>
    </table>
{% endblock  %}